<div class="form-row align-items-center">
{% for widget in widget.subwidgets %}
    <div class="col">
    {% include widget.template_name %}
    </div>

    {% if forloop.first %}
    <div class="col" style="flex-grow: 0">
        and
    </div>
    {% endif %}
{% endfor %}
</div>
