{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}Home{% endblock %} | DRMS</title>
    <meta charset="utf-8">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'css/base_css.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/tables.css' %}">

    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicons/favicon.png' %}">
</head>

<body>
    {% block page %}

    {% if user.is_authenticated %}
    <nav class="navbar navbar-expand-lg navbar-light mb-3">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <span class="navbar-brand mb-0 h1">DRMS</span>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'vtn:home' %}">Overview</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'vtn:export' %}">Export</a>
                </li>
                <li class="nav-item last">
                    {% if request.user.is_superuser %}
                    <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
                    {% endif %}
                </li>
            </ul>

            <span class="nav-item dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    Welcome, {{ user.username }}
                </a>

                <div class="dropdown-menu">
                    {% if user.has_usable_password %}
                    <a class="dropdown-item" href="{% url 'vtn:change_password' %}">Change password</a></li>
                    {% endif %}
                    <a class="dropdown-item" href="{% url 'vtn:logout' %}">Logoff</a></li>
                    </ul>
            </span>
        </div>
    </nav>
    {% endif %}

    <div class="container-fluid" style="min-height: 90vh">
        <div class="row justify-content-center mb-3">
            <div class="col" style="max-width: 60rem">
                <h2>{% block heading %}{% endblock %}</h2>
            </div>
        </div>

        {% block content %}
        <div class="row justify-content-center">
            <div class="col" style="max-width: 60rem">
                {% block simplecontent %}
                {% endblock simplecontent %}
            </div>
        </div>
        {% endblock content %}
    </div>

    {% endblock page %}

    <footer class="text-center p-4">
        Carbon Co-op OpenADR VTN DRMS Server
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>


    {% block scripts %}
    <script>
        $(function() {
            $('[data-toggle="tooltip"]').tooltip()
        })

    </script>
    {% endblock scripts %}

</body>

</html>
