{% extends "base.html" %}
{% load static crispy_forms_tags %}

{% block page %}

<div class="container-fluid" style="min-height: 90vh">
    <div class="row justify-content-center">
        <div class="col text-center m-5">
            <img
                alt="Carbon Co-op"
                src="{% static 'images/cc-logo-40h.png' %}"
                srcset="{% static 'images/cc-logo-80h.png' %} 2x"
                height="40"
            >
            <h2 class="mb-4">OpenADR server</h2>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col border rounded p-4 mb-5 bg-light" style="max-width: 30rem">
            <h3>Login</h3>

            {% crispy form %}
        </div>
    </div>
</div>

{% endblock page %}
