{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
{{ customer.name }} | Customer
{% endblock title %}

{% block heading %}
Customer: {{ customer.name }}
{% endblock heading %}

{% block simplecontent %}
<div class="d-flex justify-content-between">
    <div class="card flex-grow-1">
        <h3 class="card-header">
            Details
        </h3>
        <div class="card-body">
            {% crispy form %}
        </div>
    </div>

    <div class="card flex-grow-1 ml-4">
        <h3 class="card-header">
            Sites
        </h3>
        <div class="card-body">

            {% if sites.count == 0 %}
            <p class="mb-4">None</p>
            {% else %}
            <table id="siteTable" class="table table-bordered table-hover mb-4">
                <thead class="thead-light">
                    <tr>
                        <th>Site</th>
                        <th data-toggle="tooltip" data-placement="top"
                            title="Online if the VEN has been seen in the last ONLINE_INTERVAL_MINUTES mins.">
                            Status
                        </th>

                        <th>Contact Name</th>
                        <th>Phone Number </th>
                    </tr>
                </thead>
                <tbody>
                    {% for site in sites %}
                    <tr>
                        <td>
                            <a href="{% url 'vtn:site_detail' site.pk %}">
                                {{ site.get_name_display }}
                            </a>
                        </td>
                        {% if site.online %}
                        <td class="bg-success">Online</td>
                        {% else %}
                        <td class="bg-danger text-light">Offline</td>
                        {% endif %}
                        <td>{{ site.contact_name }}</td>
                        <td>{{ site.phone_number }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}

            <p>
                <a href="{% url 'vtn:create_site' customer.pk %}" class="btn btn-primary" role="button">
                    + Create New Site
                </a>
            </p>
        </div>
    </div>
</div>

{% endblock simplecontent %}
