{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Edit DR Event
{% endblock %}

{% block heading %}
    Edit DR Event
{% endblock heading %}

{% block simplecontent %}
    {% crispy form %}

    <button type="submit" id="cancel_event" class="btn btn-lg btn-danger d-block mx-auto" data-toggle="modal" data-target="#cancelModal">Cancel Event</button>

    <!-- Modal -->
    <div id="cancelModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLiveLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLiveLabel">Confirm</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            </button>
          </div>
          <div class="modal-body" style="font-size: 14px">
            <p>Are you sure you want to cancel this event?</p>
          </div>
          <div class="modal-footer" style="text-align: left">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                Don't Cancel
            </button>
            <a href="{% url 'vtn:event_cancel' event.id %}" class="btn btn-danger">
                Cancel Event
            </a>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block scripts %}
<script>
    $('#id_program').on('change', evt => {
        program_id = $('#id_program').val()
        event_id = {{ event.id }}

        $.ajax({
            type: "GET",
            url: "{% url 'vtn:get_sites_for_program' %}",
            data: {'program': program_id, 'event': event_id }
        })
        .done(function(response) {
            selected = row => row.selected ? " selected='selected'" : ""
            new_options = response.map(
                option => `<option value='${option.id}'${selected(option)}>${option.status=='cancelled' ? '<abbr title="cancelled">❌</abbr> ' : ''}${option.name}</option>`
            ).join("")

            document.getElementById('id_sites_from').innerHTML = new_options
        })
    })

    $('#id_program').change()
</script>
{% endblock %}
