{% extends 'base.html' %}

{% load static %}
{% load timetags %}

{% block title %}
    Event Detail | {{ event.program }}
{% endblock %}

{% block heading %}
    '{{ event.program }}' event detail
{% endblock %}

{% block simplecontent %}
<link href="/static/graph/nv.d3.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="{% static 'css/event_detail.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/event_detail.css' %}">

<div class="d-flex w-100 justify-content-between mb-3">
    <div>
        <p>Status: {{ event.status | capfirst }}</p>
        <button type="button" id="cancel_event" class="btn btn-lg btn-danger mb-4" data-toggle="modal"data-target="#cancelModal">Cancel Event</button>
    </div>

    <div>
        <table class="mb-2">
            <tr>
                <th>Notification</th>
                <td>{{ event.scheduled_notification_time }}</td>
            </tr>
            <tr>
                <th>Start</th>
                <td>{{ event.start }}</td>
            </tr>
            <tr>
                <th>End</th>
                <td>{{ event.end }}</td>
            </tr>
        </table>
    </div>
</div>

<nav class="nav nav-tabs nav-stacked" id="myTab" role="tablist">
    <a class="nav-item nav-link active" id="nav-graph-tab" data-toggle="tab" href="#nav-graph" role="tab" aria-controls="nav-graph" aria-expanded="true">Graph</a>
    <a class="nav-item nav-link" id="nav-site-details-tab" data-toggle="tab" href="#nav-site-details" role="tab" aria-controls="nav-site-details">Site Details</a>
</nav>

{% if no_data %}
<div class="tab-pane fade show active" id="nav-graph" role="tabpanel" aria-labelledby="nav-graph-tab">
    <h2 class="text-center">No data for event</h2>
</div>
{% else %}
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-graph" role="tabpanel" aria-labelledby="nav-graph-tab">
        <div class="row justify-content-center">
            <div class="col-md-2">
                <h3>Customer</h3>
                {{ customerForm.customer }}
            </div>
            <div class="col-md-2">
                <h3>Site</h3>
                {{ siteForm.site }}
            </div>
        </div>

        <br>
        <br>

        <div id="chart" class="border with-3d-shadow with-transitions" style="width: 1200px">
            <svg style="height:450px; width:1200px; background-color: white"></svg>
        </div>
    </div>
{% endif %}

<div class="tab-pane fade" id="nav-site-details" role="tabpanel" aria-labelledby="nav-site-details-tab">
    <table id="siteTable" class="table table-bordered table-striped table-hovertable-condensed">
        <thead>
        <tr>
            <th>Site</th>
            <th>Notification Sent Time</th>
            <th>Opt-in</th>
            <th>Last opt-in</th>
            <th>Most recent power (kW)</th>
        </tr>
        </thead>
        <tbody>
        {% for site_event in site_events %}
            <tr>
            <td>{{ site_event.site }}</td>
            <td>{{ site_event.notification_sent_time}}</td>

            {% if site_event.opt_in == 'optIn' %}
                <td class="bg-success">Opted in</td>
            {% elif site_event.opt_in == 'optOut' %}
                <td class="bg-danger">Opted out</td>
            {% else %}
                <td>{{ site_event.opt_in | capfirst }}</td>
            {% endif %}

            <td>{{ site_event.last_opt_in }}</td>
            {% if site_event.last_stat > 0 %}
                <td class="negative"> -{{ site_event.last_stat }}</td>
            {% elif site_event.last_stat < 0 %}
                <td class="positive"> +{{ site_event.last_stat }}</td>
                {% else %}
                <td> {{ site_event.last_stat }}</td>
            {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<div id="cancelModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLiveLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLiveLabel">Confirm</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="font-size: 14px">
                <center>
                    <p>Are you sure you want to cancel this event?<br>
                    It is already in progress.</p>
                </center>
            </div>
            <div class="modal-footer" style="text-align: center">
                <button type="button" style="margin: 0 auto" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a style="margin: 0 auto" href="{% url 'vtn:event_cancel' pk %}" class="btn btn-danger">Cancel</a>
            </div>
        </div>
    </div>
</div>
{% endblock simplecontent %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
<script src="/static/graph/d3.min.js"></script>
<script src="/static/graph/nv.d3.js"></script>
<script src="{% static 'js/jquery.floatThead.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.1/moment.js"></script>
<script data-require="moment-timezone-with-data@0.4.0" data-semver="0.4.0"
        src="http://momentjs.com/downloads/moment-timezone-with-data.js"></script>

<script>
    $(document).on('change', '#id_customer', function() {
        console.log("change");

        if ($('#id_customer').val() == '') {
            $.ajax({
                type: "GET",
                url: "{% url 'vtn:event_get_details' pk %}",
                data: {'customer': 'empty'}
            })
            .done(function(response) {
                $('#chart').html(response);
                $('#id_site').val('');
            });
        } else {
            $.ajax({
                type: "GET",
                url: "{% url 'vtn:event_get_details' pk %}",
                data: {'customer': $('#id_customer').val()}
            })
            .done(function(response) {
                $('#chart').html(response);
                $('#id_site').val('');
            });
        }
    });

    $(document).on('change', '#id_site', function() {
        console.log($('#id_site').val());

        if ($('#id_site').val() == '') {
            $.ajax({
                type: "GET",
                url: "{% url 'vtn:event_get_details' pk %}",
                data: {'site': 'empty'}
            })
            .done(function(response) {
                $('#chart').html(response);
                $('#id_customer').val('');
            });
        }
        else {
            $.ajax({
                type: "GET",
                url: "{% url 'vtn:event_get_details' pk %}",
                data: {'site': $('#id_site').val()}
            })
            .done(function(response) {
                $('#chart').html(response);
                $('#id_customer').val('');
            });
        }
    });

    data_lineWithFocusChart = [
        {color:'red', key: 'Baseline Power (kw)',
        values: [
            {% for key, value in sum_baseline.items %}
            {x: {{key | toUnixSlice }}, y: {{ value }}},
            {% endfor %}

        ]},
        {color:'blue', key: 'Measured Power (kw)',
        values: [
            {% for key, value in sum_measured.items %}
            {x: ({{key | toUnixSlice }}), y: {{ value }}},
            {% endfor %}
        ]}
    ];

    nv.addGraph(function() {
        var chart = nv.models.lineWithFocusChart();

        chart.margin({left: 100, bottom: 50, right: 100});
        chart.brushExtent([{{ start_focus|toUnix|default:"0"}}, {{ end_focus|toUnix|default:"0" }} ]);

        chart.xAxis
            .axisLabel('Time')
            .tickFormat(function (d) {
                if (d != undefined) {
                    var offset = -1 * moment().zone();
                    return d3.time.format('%-I:%M %p')(moment(d).add(offset, 'm').toDate())

                }
            });

        chart.focusHeight(70 + 20);

        chart.focusMargin({ "bottom": 20 + 20 });

        chart.noData("There is no data to display");

        chart.x2Axis
            .tickFormat(function (d) {
                  var offset = -1 * moment().zone();
                  return d3.time.format('%-I:%M %p')(moment(d).add(offset, 'm').toDate())

            });

        chart.yAxis
            .axisLabel('Power(kW)')
            .tickFormat(d3.format(',.2f'));
        chart.y2Axis.tickFormat(d3.format(',.2f'));
        chart.useInteractiveGuideline(false);

        d3.select('#chart svg')
            .datum(data_lineWithFocusChart)
            .call(chart);

        nv.utils.windowResize(chart.update);

        return chart;
    });

    var $table = $('#siteTable');
    $table.floatThead({
        scrollContainer: function($table){
            return $table.closest('.tableInDiv');
        }
    });
</script>

{% endblock scripts %}
