{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
Add DR Event
{% endblock %}

{% block heading %}
Add DR Event
{% endblock heading %}

{% block simplecontent %}
<div class="alert alert-warning">All times in UTC! Be careful if it's summertime.</div>
{% crispy form %}
{% endblock simplecontent %}

{% block scripts %}
<script>
    $('#id_program').on('change', evt => {
        program_id = $('#id_program').val()

        $.ajax({
            type: "GET",
            url: "{% url 'vtn:get_sites_for_program' %}",
            data: { 'program': program_id }
        })
            .done(function(response) {
                new_options = response.map(
                    option => `<option value='${option.id}'>${option.name}</option>`
                ).join("")

                document.getElementById('id_sites_from').innerHTML = new_options
            })
    })

    $('#id_program').change()
</script>
{% endblock %}
