{% extends 'base.html' %}
{% load static %}
{% load timetags %}
{% load crispy_forms_tags %}

{% block title %}
Export Event Data
{% endblock %}

{% block heading %}
Export Event Data
<small class="text-muted">
    {{ object_list|length }} result(s)
</small>
{% endblock heading %}

{% block simplecontent %}

<div class="card mb-3">
    <div class="card-body">
        {% crispy filter.form filter_helper %}
    </div>
</div>

<table class="table table-sm table-bordered table-hover">
    <thead class="thead-light">
        <tr>
            <th>DR Program</th>
            <th>Notification</th>
            <th>Start</th>
            <th>End</th>
            <th>Sites</th>
            <th>Event Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% if object_list|length > 0 %}
        {% for event in object_list %}
        <tr>
            <td>{{ event.program }}</td>
            <td>{{ event.scheduled_notification_time|date:"j M Y, G:i" }}</td>
            <td>{{ event.start|date:"j M Y, G:i" }}</td>
            <td>{{ event.end|date:"j M Y, G:i" }}</td>
            <td>{{ event.num_sites }}</td>
            <td>{{ event.status | changeStatus | capfirst }}</td>
            <td>
                <a id="export_event" href="{% url 'vtn:export_events_csv' event.pk %}">Export</a>
            </td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="7">No events found</td>
        </tr>
        {% endif %}
    </tbody>
</table>

{% endblock %}
