{% extends 'base.html' %}
{% load static %}

{% block title %}
Home
{% endblock title %}

{% block simplecontent %}
<div class="d-flex justify-content-between mb-1">
    <h2>Customers</h2>
    <div>
        <a href="{% url 'vtn:customer_add' %}" class="btn btn-primary">+ Add Customer</a>
    </div>
</div>

{% if customers.count > 0 %}
<table id="customerTable" class="table table-bordered table-hover">
    <thead class="thead-light">
        <tr>
            <th>Customer</th>
            <th># Sites</th>
            <th># Online Sites</th>
            <th># Offline Sites </th>
        </tr>
    </thead>
    <tbody>
        {% for customer in customers %}
        <tr>
            <td><a href="{% url 'vtn:customer_detail' customer.pk %}">{{ customer.name }} </a></td>
            <td>{{ customer.sites }}</td>
            <td>{{ customer.online }}</td>
            <td>{{ customer.offline }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<ul class="list-group">
    <li class="list-group-item">None</li>
</ul>
{% endif %}

<div class="d-flex justify-content-between mb-1 mt-4">
    <h2>DR Events</h2>
    <div>
        <a href="{% url 'vtn:event' %}" class="btn btn-primary">+ Add DR Event</a>
    </div>
</div>

{% if event_data.count > 0 %}

<table id="customerTable" class="table table-bordered table-hover">
    <thead class="thead-light">
        <tr>
            <th>Event ID</th>
            <th>Program</th>
            <th>Notification</th>
            <th>Start</th>
            <th>End</th>
            <th>Sites</th>
            <th>Status</th>
            <th>Modification number</th>
        </tr>
    </thead>
    <tbody>
        {% for d in event_data %}
        <tr>
            <td>
                {% if not d.deleted %}
                <a href="{% url 'vtn:event_dispatch' d.pk %}"> {{ d.id }} </a>
                {% else %}
                {{ d.id }}
                {% endif %}
            </td>
            <td>
                {% if not d.deleted %}
                <a href="{% url 'vtn:event_dispatch' d.pk %}"> {{ d.program }} </a>
                {% else %}
                {{ d.program }}
                {% endif %}
            </td>
            <td>{{ d.scheduled_notification_time|date:"j M Y, G:i" }}</td>
            <td>{{ d.start|date:"j M Y, G:i" }}</td>
            <td>{{ d.end|date:"j M Y, G:i" }}</td>
            <td>{{ d.numSites }}</td>
            <td>
                {% if d.deleted %}
                Cancelled
                {% elif d.status == 'far' or d.status == 'near' %}
                Scheduled
                {% else %}
                {{ d.status | capfirst }}
                {% endif %}
            </td>
            <td>
                {{ d.modification_number }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% else %}
<ul class="list-group">
    <li class="list-group-item">None</li>
</ul>
{% endif %}

{% endblock simplecontent %}


{% block scripts %}
<script src="{% static 'js/jquery.floatThead.min.js' %}"></script>
<script type="text/javascript">
    var $table = $('#customerTable');
    $table.floatThead({
        scrollContainer: function($table) {
            return $table.closest('.tableInDiv');
        }
    });

    var $table2 = $('#eventTable');
    $table2.floatThead({
        scrollContainer: function($table2) {
            return $table2.closest('.tableInDiv');
        }
    });
</script>
{% endblock scripts %}
