footer {
    text-align: center;
    background-color: lightgrey;
}

.navbar {
    background-color: #bec2c6;
    border-bottom: 2px solid black;
}

.nav-link,
.dropdown-toggle {
    font-size: 20px;
}

ul.dropdown-menu li {
    font-size: 16px;
}
ul.dropdown-menu {
    background-color: #bec2c6;
}
.nav-item > a {
    border-color: #d45500;
    border-bottom-color: transparent;
}
.nav-item:first-child {
    border-right: 1px solid #95979b;
}

.nav-item.last {
    border-left: 1px solid #95979b;
}

.nav-item {
    padding-right: 20px;
    padding-left: 20px;
}

.tip {
    font-size: 1rem;
}

a.btn {
    color: white;
}

.btn-primary {
    background-color: #417690;
    border-color: #417690;
}

.delete-confirmation form .cancel-link {
    height: 25px;
}

.non-field-errors,
.field-errors {
    color: red;
}

.errors {
    color: red;
    font-weight: bold;
}
